# Jykell configuration
#markdown: redcarpet
#highlighter: pygments
markdown: kramdown
highlighter: rouge
paginate: 5
language: 'kr-KR'

# Website info
name: 'Article Inside'
description: "소식을 전합니다."

# Author's info
author: 'Article Inside'
# edit 'categories' in the front matter of every post to match this username
nickname: casper
bio: ''
location: 'Seoul, Korea'
url: ''
image: 'https://avatars3.githubusercontent.com/u/19814466?v=3&s=460'

short_url: 'articleinside.github.io'
google_analytics: UA-78949924-1
disqus: username
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: 

# Permalinks
permalink: /:title
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: articleinside
repo: articleinside.github.io
branch: master
relative_source: ../jasper/
destination: ../jasper-pages/
production_url:  https://articleinside.github.io/
source_url:      https://github.com/articleinside/articleinside.github.io/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
